{{ v["server_processor_count"] }} x {{ v["server_processor_name"] }} {{v["server_ram_gbytes"]}} GB RAM {% if v["server_disk_count"]>0 %}{{v["server_disk_count"]}} x {{ v["server_disk_size_mbytes"]/1024|round }} GB {{ v["server_disk_type"] }}{% endif %}{%if v["server_network_total_capacity_mbps"]==4000 %}4 x 1Gbit NIC{% elif v["server_network_total_capacity_mbps"]==40000 %}4 x 10Gbit NIC{% elif v["server_network_total_capacity_mbps"]==20000 %}2 x 10Gbit NIC{% endif %}