.. _instances:

********************
Metalcloud instances
********************

The Metalcloud offers various bare metal server configurations to choose from:

+--------------------+-------------------------------------------------------------------------------------------+
|Instance            |Description                                                                                |
+====================+===========================================================================================+
{% for k,v in instances.items(): %}|{{"%-20s"|format("**"+k+"**")}}| {{ "%-90s"|format(v["description"]) }}|
+--------------------+-------------------------------------------------------------------------------------------+
{% endfor %}